#include <bits/stdc++.h>
#include "../library/common.hpp"

//constexpr ll mod = 998244353;
constexpr ll mod = 1e9+7;
constexpr double PI = 3.14159265358979323846;
mt19937_64 engine(chrono::steady_clock::now().time_since_epoch().count());

class %ClassName% {
public:
    void solve(istream& cin, ostream& cout) {

    }
};